<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.25/favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/dashboard/">

    <title>学生信息管理系统</title>
    <link rel="stylesheet" href="/node_modules/bookstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/gongong.css">
</head>

<body>
    <h2 class="sub-header">添加考试成绩</h2>
    <form action="/admin/adminindex/student/studentcjedit" method="post">
        <input type="hidden" value="{{ studentcj1._id  }}" name="id">
        <div class="form-group">
            <label for="name">名字</label>
            <input type="text" class="form-control" id="name" name='name' value="{{ studentcj1.name  }}">
        </div>
        <div class="form-group">
            <label for="schoolTime">年级</label>
            <input type="text" class="form-control" id="schoolTime" name="schoolTime" value="{{ studentcj1.schoolTime  }}">
        </div>
        <div class="form-group">
            <label for="major">专业</label>
            <input type="text" class="form-control" id="major" name="major" value="{{ studentcj1.major  }}">
        </div>
        <div class="form-group">
            <label for="college">学院</label>
            <input type="text" class="form-control" id="college" name="college" value="{{ studentcj1.college  }}">
        </div>
        <div class="form-group">
            <label for="typename">考试科目</label>
            <input type="text" class="form-control" id="typename" name="typename" value="{{ studentcj1.typename  }}">
        </div>
        <div class="form-group">
            <label for="point">得分</label>
            <input type="text" class="form-control" id="point" name="point" value="{{ studentcj1.point  }}">
        </div>

        <button type="submit" class="btn btn-default">确定</button>
    </form>
    </div>
    <div id="foot">
        <img src="/public/img/大蘑菇.png" alt="" id="img1">
        <span style="color:skyblue;font-size: 13px;">开发单位：</span>
        <span style="color: blue;font-weight: bold;font-size: 15px;">19软件技术D班黄跃海</span>
    </div>

</body>

</html>