<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.25/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学生信息管理系统</title>
    <link rel="stylesheet" href="/public//css/zhuce.css">
</head>

<body>
    <div id="head">
        学生信息管理系统（注册页）
    </div>
    <div id="form1">
        <form action="">
            <p>
                <span>用户名:</span>
                <input type="text">
            </p>
            <p>
                <span>密码:</span>
                <input type="password">
            </p>
            <p>
                <span>手机号码:</span>
                <input type="number">
            </p>
            <p>
                <span>邮箱:</span>
                <input type="email">
            </p>
            <div id="button1">
                <a href="/" class="no">注册</a>
                <a href="/" class="no2">返回</a>
                <input type='reset' id="no1">
            </div>
        </form>
    </div>
    <div id="foot">
        <img src="/public/img/大蘑菇.png" alt="" id="img1">
        <span style="color:skyblue;font-size: 13px;">开发单位：</span>
        <span style="color: blue;font-weight: bold;font-size: 15px;">19软件技术D班黄跃海</span>
    </div>
</body>

</html>