* {
    margin: 0px;
    padding: 0px;
}

#head {
    height: 200px;
    width: 100%;
    font-size: 30px;
    background-image: linear-gradient(blue, white);
    text-align: center;
    line-height: 200px;
}

a {
    text-decoration: none;
    color: black;
}

#form1 {
    width: 400px;
    height: 400px;
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}

#form1 span {
    display: inline-block;
    width: 80px;
    height: 20px;
    margin-right: 20px;
    text-align: center;
}

#form1 input {
    width: 200px;
    height: 20px;
    border-radius: 20px;
    outline: medium;
    text-align: center;
    border: 1px solid blue;
}

#form1 #button1 {
    height: 20px;
    box-sizing: border-box;
    margin-top: 30px;
    text-align: center;
}

#form1 #button1 a {
    padding: 2px;
    width: 50px;
    float: left;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    margin-right: 30px;
    border: 1px solid blue;
}

#form1 #button1 .no {
    margin-left: 75px;
}

#admin {
    position: absolute;
    top: 50%;
    left: 50%;
    /* margin-top: -100px; */
    margin-left: -100px;
    width: 200px;
    height: 50px;
    border: 1px solid blue;
    border-radius: 20px;
    margin: o auto;
    text-align: center;
    line-height: 50px;
}

#foot {
    width: 400px;
    height: 30px;
    margin: auto;
    /* border: 1px solid blue; */
    text-align: center;
}

#img1 {
    display: inline-block;
    width: 30px;
    vertical-align: middle;
}

#form1 #button1 #no1 {
    padding: 0px;
    font-size: 16px;
    width: 50px;
    height: 30px;
    background-color: white;
    margin-left: -48px;
    margin-top: -2px;
}